{{ define "main" }}
<div class="row">
  <div class="col-6 mb-4 text-center col-center">
    {{ $image := .Resources.GetMatch "{avatar.webp,avatar.jpg,avatar.png,avatar.jpeg}" }}
    {{ if  $image }}
    {{ $height := $image.Height }}
    {{ $width := $image.Width }}
      {{ $resource := imageConfig (add "/content/" $image.RelPermalink) }}
      <img class="img-thumbnail rounded card-img-top img-responsive" src="{{ $image.Permalink }}"alt="Card image cap" width="{{ $width }}" height="{{ $height }}">
    {{end}}
  </div>
  <div class="col text-center">
    <br>
    <h1>{{ .Params.Title }}</h1>
    <ul class="list-unstyled">
      <li><i><a class="link-unstyled" href="{{ "/razza/" | absURL }}{{ .Params.razza | urlize }}">Razza: {{ .Params.razza }}</a></i></li>
      {{range .Params.titolo}}
        <li><a class="link-unstyled" href="{{ "/titolo/" | absURL }}{{ . | urlize }}"> {{ . }}</a></li>
      {{end}}


    </ul>
    {{.Content}}
  </div>
</div>

{{ end }}
