<div class="col-6 mb-4">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><b><i>{{ .Params.titolo }}</i></b></h5>
      <div class="card-text">
        <ul class="list-unstyled">
          <li><i><a class="link-unstyled" href="{{ "/spazio/" | absURL }}{{ .Params.spazio | urlize }}"> {{ .Params.spazio }}</a></i></li>

          {{range .Params.docenti}}
          <li><a class="link-unstyled" href="{{ "/titolo/" | absURL }}{{ . | urlize }}"> {{ . }}</a>:

            {{ $docente := . }}
            {{ $membri := where site.RegularPages "Section" "eq" "membro" }}

            {{range $membri }}
              {{ $membro := . }}
              {{ range (.GetTerms "titolo")}}
                {{if in .LinkTitle $docente}}
                  <a class="link-unstyled" href="{{ $membro.RelPermalink }}">{{ $membro.Title }} </a>
                {{end}}
              {{end }}
            {{end}}
          {{end}}
          </div>
          <li><b>{{ .Params.durata}}</b> + {{ .Params.materiali_costi }} </li>
        </ul>
      </div>
    </div>
  </div>
</div>
