<div class="container">
  <nav id="nav" class="nav navbar navbar-expand-lg fixed-top">

    <a class="navbar-brand" href="/"><i class="fa-duotone fa-regular fa-crow fa-gilda"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarToggler">
      {{ range .Site.Menus.main }}
      <a class="nav-link link-unstyled" href="{{ .URL }}">
      {{ if .Pre }}
      {{ $icon := printf "<i class=\"fa-duotone fa-regular %s fa-gilda\"></i> " .Pre | safeHTML }}
      {{ $icon }}
      {{ end }}
      {{ $text := print .Name | safeHTML }}
      {{ $text }}
      </a>
      {{ end }}
    </div>
  </nav>

</div>
<br  class="mb-5">
