@import "timeline";

$red_color: #630a09;
$orange_color: #a82211;

$dark_color: #281b1b;
$light_color: #f2e9e1;
$medium_color: darken($light_color, 10%);

body {
	color: #{$dark_color};
	background-color: #{$light_color};
	font-family: sans-serif;
	padding-top: 50px;
	padding-bottom: 50px;
}

header {
	border-bottom: 1px solid #222;
	margin-bottom: 1rem;
}

h1 {
	margin-bottom: 20px;
	margin-left: 20px;
	margin-right: 20px;
}

footer {
	border-top: 1px solid #222;
	margin-top: 1rem;
}

a {
	color: $red_color;
	text-decoration: none;
}
nav {
	background-color: $medium_color;
}

blockquote {
	font-family: "Delius Swash Caps", cursive;
	font-weight: 400;
	font-style: normal;
	font-size: large;
}

@for $i from 1 through 6 {
	h#{$i} {
		color: var(--color-link);

		svg {
			color: var(--color-font);
		}
	}
}

.delius-swash-caps-regular {
	font-family: "Delius Swash Caps", cursive;
	font-weight: 400;
	font-style: normal;
	font-size: large;
}

.fa-gilda {
	--fa-primary-color: #{$red_color};
	--fa-secondary-color: #{$orange_color};
}

.link-unstyled {
	text-decoration: none;
	color: #{$red_color};
}

.navbar-brand {
	padding-left: 10px;
}
