<div class="col-sm-6 col-lg-4 mb-4">
  <div class="card">
      {{ $image := .Resources.GetMatch "{avatar.webp,avatar.jpg,avatar.png,avatar.jpeg}" }}
      {{ if  $image }}
        {{ $resource := imageConfig (add "/content/" $image.RelPermalink) }}
        {{ $height := $image.Height }}
        {{ $width := $image.Width }}
        <img class="img-thumbnail rounded card-img-top" src="{{ $image.Permalink }}"alt="Card image cap" width="{{ $width }}" height="{{ $height }}">
      {{end}}
    <div class="card-body">
      <a class="link-unstyled" href="{{ .Permalink }}"><h5 class="card-title"><b><i>{{ .Params.nome }}</i></b></h5></a>
      <div class="card-text">
        <ul class="list-unstyled">
          <li><i><a class="link-unstyled" href="{{ "/razza/" | absURL }}{{ .Params.razza | urlize }}"> {{ .Params.razza }}</a></i></li>
          {{range .Params.titolo}}
            <li><a class="link-unstyled" href="{{ "/titolo/" | absURL }}{{ . | urlize }}"> {{ . }}</a></li>
          {{end}}
        </ul>
      </div>
    </div>
  </div>
</div>
