{{ define "main" }}
<h1 class="text-center"><i class="fa-duotone fa-regular fa-crow fa-gilda"></i>{{ .Title }}<i
    class="fa-duotone fa-regular fa-crow fa-flip-horizontal fa-gilda"></i></h1>
<div class="text-center">
  {{ .Content }}
</div>
<div class="container">

  <div class="row masonry" data-masonry='{"percentPosition": true }'>

    <div class="container">
      <ul class="timeline">
        {{ range .Pages }}
        {{ .Render "node" }}
        {{ end }}
      </ul>
    </div>

  </div>
</div>
{{ end }}
